@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --dark-color-one: #222831;
  --dark-color-two: #31363f;
  --accent-color: #76abae;
  --light-color-one: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  width: 100%;
  min-height: 100svh;
  background-color: var(--dark-color-two);
}

header {
  background-color: var(--dark-color-one);
  color: var(--accent-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-size: 2rem;
}
.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--light-color-one);
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 1rem;
  border-left: 8px solid var(--accent-color);
 
}

.title {
  font-size: 1.5rem;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-weight: 600;
  text-align: center;
}

.author {
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  font-style: italic;
  text-align: center;
  position: relative;
  color: var(--accent-color);
  font-weight: bold;
}

.author::before{
    content: "By";
    position: absolute;
    top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark-color-two);
}

.pages {
  font-size: 0.75rem;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  align-items: flex-end;
}

.iconHolder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deleteBtn,
.readBtn {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.deleteBtn {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialogBtn {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--light-color-one);
  color: var(--dark-color-two);
  font-weight: 500;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-size: 1.15rem;
  cursor: pointer;
}

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  border: none;
  background-color: var(--light-color-one);
  padding: 1rem;
  border-radius: 1rem;
  width: 50%;
}

dialog .closeBtn {
  border: none;
  align-self: flex-end;
  float: right;
  cursor: pointer;
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label{
    font-size: 1rem;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

form input{
    padding: 0.5rem;
    border: none;
    background-color: var(--accent-color);
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: "Noto Serif", serif;
}

form .formBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.formSubmitBtn {
  border: none;
  padding: 1rem;
  background-color: var(--dark-color-one);
  color:var(--light-color-one);
  border-radius: 1rem;
  width: fit-content;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

.formSubmitBtn:hover{
    background-color: var(--accent-color);
    color: var(--dark-color-two);
    font-size: 1rem;
    font-weight: bold;
}


