*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100svh;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
    gap: 1rem;
    
}

.card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialogBtn{
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px black;
}

dialog{
    position: fixed;
  inset: 0;
  margin: auto;
    border: none;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}



